# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

node_modules/
\*.tsbuildinfo
.eslintcache

.env*
!.env.example

.turbo
dist/
build/

# Logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
